$breakpoints: (
  base: 0rem,
  // 576px
  sm: 36rem,
  // 768px
  md: 48rem,
  // 845px
  mlg: 52.8125rem,
  // 992px
  lg: 62rem,
  // 1120px
  mxl: 70rem,
  // 1280px
  xl: 80rem,
  // 1400px
  xxl: 87.5rem
);
